<footer class="container">
  <div class="element">
    <p></p>
    <p>Copyright &copy; {new Date().getUTCFullYear()}-{new Date().getUTCMonth()}-{new Date().getUTCDate()} Sanmina SCI </p>
  </div>
</footer>

<style>
.container {
    display: flex;
    justify-content: center;
}
</style>
